 body {
     background: black;
 }
 
 .content {
     max-width: 700px;
     margin: auto;
     background: #1c2e4a;
     padding: 10px;
 }
 
 .label {
     text-align: center;
     font-size: 90px;
     color: #ca0828;
     ;
 }
 
 .child-stat {
     text-align: left;
     color: white;
     font-size: 30px;
 }
 
 .img-head {
     width: 20%;
     height: 20%;
 }
 
 .head-flex {
     display: flex;
     margin-top: 50px;
     flex-direction: row;
     column-gap: 10px;
     justify-content: center;
 }
 
 .child-grid {
     display: grid;
 }
 
 .child-1 {
     display: flex;
     flex-direction: row;
     column-gap: 0px;
     margin: 50px;
     justify-content: center;
 }
 
 .child-2 {
     background: #ca0828;
     display: grid;
     margin: 50px;
     padding: 20px;
     row-gap: 20px;
     font-size: 20px;
     color: white;
 }
 
 .child-inner {
     display: grid;
 }
 
 .child2-part1 {
     display: flex;
     flex-direction: row;
     column-gap: 10px;
 }
 
 .child-3 {
     display: flex;
     flex-direction: row;
     column-gap: 10px;
     margin: 50px;
     justify-content: center;
     background: #2995ee;
     padding: 30px;
     font-size: 20px;
     text-align: center;
     color: white;
 }
 
 .child3-grid {
     display: grid;
 }
 
 .child3-grid1 {
     display: grid;
     padding-top: 110px;
 }
 
 .child3-head-flex {
     display: flex;
     flex-direction: row;
     column-gap: 0px;
 }
 
 .child-4 {
     display: flex;
     flex-direction: row;
     column-gap: 0px;
     margin: 50px;
 }
 
 .child-5 {
     display: flex;
     flex-direction: row;
     column-gap: 0px;
     margin: 50px;
     justify-content: center;
     background: #2995ee;
     padding: 30px;
     font-size: 20px;
     text-align: center;
     color: white;
 }
 
 .child-6 {
     display: flex;
     flex-direction: row;
     column-gap: 0px;
     margin: 50px;
     justify-content: center;
     background: #df950b;
     padding: 30px;
     font-size: 20px;
     text-align: center;
     color: white;
 }
 
 .child-7 {
     display: flex;
     flex-direction: row;
     column-gap: 0px;
     margin: 50px;
     justify-content: center;
 }
 
 .child1-orange {
     background: #df950b;
     display: grid;
     padding: 30px;
     font-size: 20px;
     width: 100%;
     text-align: center;
     color: white;
 }
 
 .child4-red {
     background: #ca0828;
     display: grid;
     padding: 30px;
     width: 100%;
     font-size: 20px;
     text-align: center;
     color: white;
 }
 
 .child1-blue {
     background: #2995ee;
     display: grid;
     color: white;
     padding: 30px;
     width: 100%;
     font-size: 20px;
     text-align: center;
 }
 
 .obesity2-img {
     width: 30%;
     height: 70%;
     margin-top: 20px;
     align-self: center;
     margin-left: 80px;
 }
 
 .obesity3-img {
     width: 30%;
     height: 20%;
     margin-top: 10px;
     margin-left: 20px;
 }
 
 .warning-img {
     width: 30%;
     height: 60%;
     margin-top: 10px;
     margin-left: 20px;
 }
 
 .obesity-fries-img {
     width: 50%;
     height: 80%;
     align-self: center;
     margin-left: 60px;
 }
 
 .child1-text {
     font-size: 50px;
 }
 
 .child1-text1 {
     font-size: 25px;
 }
 
 .child1-text2 {
     font-size: 43px;
 }
 
 .child1-text3 {
     font-size: 30px;
 }
 
 .obesity4-img {
     width: 100%;
     height: 60%;
 }